<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="icon.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container has-text-centered">
      <h1 class="title navbar-item is-justify-content-center">
        Exercise tracker
      </h1>
      <hr />
      <div class="columns is-desktop">
        <div class="section column">
          <form action="/api/users" method="post" class="box">
            <h3 class="subtitle has-text-primary">Create a New User</h3>
            <p><code>POST /api/users</code></p>
            <br />
            <div class="field has-addons">
              <p class="control is-expanded">
                <input
                  id="uname"
                  type="text"
                  name="username"
                  placeholder="username"
                  class="input is-primary"
                />
              </p>
              <p class="control">
                <input type="submit" value="Submit" class="button is-primary" />
              </p>
            </div>
          </form>
        </div>
        <div class="section column">
          <form id="exercise-form" method="post" class="box">
            <h3 class="subtitle has-text-primary">Add exercises</h3>
            <p><code>POST /api/users/:_id/exercises</code></p>
            <br />

            <div class="field">
              <label class="label">Description</label>
              <div class="control">
                <input
                  id="desc"
                  type="text"
                  name="description"
                  placeholder="description*"
                  class="input is-primary"
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Duration</label>
              <div class="control">
                <input
                  id="dur"
                  type="text"
                  name="duration"
                  placeholder="duration* (mins.)"
                  class="input is-primary"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Date</label>
              <div class="control">
                <input
                  id="date"
                  type="text"
                  name="date"
                  placeholder="date (yyyy-mm-dd)"
                  class="input is-primary"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Id</label>
              <div class="control">
                <input
                  id="uid"
                  type="text"
                  name=":_id"
                  placeholder=":_id"
                  class="input is-primary"
                />
              </div>
            </div>
            <input type="submit" value="Submit" class="button is-primary" />
          </form>
        </div>
      </div>

      <div class="section">
        <div class="box has-background-info-light">
          <p>
            <strong>GET user's exercise log: </strong>
            <code>GET /api/users/:_id/logs?[from][&amp;to][&amp;limit]</code>
          </p>
          <p><strong>[ ]</strong> = optional</p>
          <p>
            <strong>from, to</strong> = dates (yyyy-mm-dd);
            <strong>limit</strong> = number
          </p>
        </div>
      </div>
    </div>
    <footer class="footer has-text-centered">
      <p>
        By
        <a href="https://github.com/camilojimenezj" target="_blank"
          >Camilo Jimenez</a
        >
      </p>
    </footer>
    <script>
      const exerciseForm = document.getElementById("exercise-form");

      exerciseForm.addEventListener("submit", () => {
        const userId = document.getElementById("uid").value;
        exerciseForm.action = `/api/users/${userId}/exercises`;

        exerciseForm.submit();
      });
    </script>
  </body>
</html>
